.card-img, .card-img-top{
    position: relative;
}
.tooltip-btn{
    border: none;
    background-color: green;
    color: white;
    position: absolute;
    right: 10px;
}
/* .tooltip-content{
    position: fixed;
} */
.trip-item_wrapper .trip-item{
    padding: 0;
}
.first-trip_item{
    color: black;
margin-top: 30px    ;
}
.card-body{
    text-align: center;
}
.card>.list-group{
    text-align:center;
}
.card-image{
    overflow: hidden;
}
.card-img-top{
    transform:scale(1);
    transition: transform 0.5sec ease;

}
.card-img-top:hover{
    transform: scale(1.8);
}


















.second-trip_item{
    color: red;
}
.third-trip_item{
    color: blue;
}
.fourth-trip_item{
    color: green;
}
.list-group-flush span{
    color: green;
}