.heading-title {
  text-align: center;
  font-size: 2rem;
  padding: 0 35px;
  position: relative;
}
h2:before {
  border-top: 1px solid rgba(57, 57, 57, 0.3);
  border-bottom: 1px solid rgba(57, 57, 57, 0.3);
  content: " ";
  display: block;
  width: 20%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
}
h2:after {
  border-top: 1px solid rgba(57, 57, 57, 0.3);
  border-bottom: 1px solid rgba(57, 57, 57, 0.3);
  content: " ";
  display: block;
  width: 20%;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
}
