.tripadvisor {
  background-color: #f4f4f4;
}
.advisor_title{
  text-align: center;
  margin-top: 40px;
}
.trip-advisor{
  padding: 30px;
}
h3 {
  width: 100%; 
  text-align: center; 
  border-bottom: 3px solid rgba(57, 57, 57, 0.3); 
  line-height: 0.2em;
} 

h3 span { 
   background:#f4f4f4; 
   padding:0 10px; 
}
p.advisor{
  text-align: center;
  padding: 20px;
}



 
  
