input.input{
    width: 100%;
    border-color:1px solid rgba(0,0,0,.2);;
   
}
/* .samerow{
    display: flex;
    justify-content: space-between;
} */
button.button.is-primary{
    background: #262626;
    box-shadow: none;
    border: 1px solid #262626;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
button.button.is-primary:hover{
    color: #fff;
    border: 1px solid #383737;
    background: #383737;
}


p.help.is-danger{
color: red;
}
.field{
    margin-bottom: 20px;
}